@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #d1d5db;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
